<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="icon" href="/imgs/smu.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This site was created by <a href="https://github.com/ebilsanta">Thaddeus Lee</a>.</p>
		<p>It uses data from the <a href="https://publiceservices.smu.edu.sg/psc/ps/EMPLOYEE/HRMS/c/SIS_CR.SIS_CLASS_SEARCH.GBL">SMU course catalog</a>.</p>
		<p>Last updated: 19 Nov 2022</p>
		
		
	</div>

	{{>footer}}

</body>
</html>