<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IS Courses</title>
	<link rel="icon" href="/imgs/smu.png">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="js/autocomplete.js"></script>
	
</head>
<body>
	<div class="main-content">
		{{>header}}
		<form action="" autocomplete="off">
			<select name="cName">
				<option disabled selected value=""> Select a course here </option>
				{{#if courseList}}
					{{#each courseList}}
						<option value="{{this.id}}">
							{{this.cName}}
						</option>
					{{/each}}
				{{/if}}
			</select>
			
		</form>
		<h1 id="line0"></h1>
		<h3 id="line1"></h3>
		<h4 id="line2"></h4>
		<p id="line3"></p>
		<h4 id="line4"></h4>
		<p align='justify' id="line5"></p> 
		
	</div>
	
	{{>footer}}
	
	<script src="js/search.js"></script>
</body>
</html>
